<div class="flex flex-col">
  <ul>
 <li class="flex flex-col sm:flex-row ">
      <img src="<%= @user.photo %>" alt="photo" class="img-fluid img-thumbnail h-50 w-50" />
      <div class="flex border items-center h-32 sm:h-56 p-4 w-100">
        <%=  link_to @user.name, @user, class: "text-4xl" %>
       <p class="relative  self-end top-8 left-8  sm:left-1/4"> Number of posts:
                <%=  link_to @user.postCounter, @user %>
       </p> 
      </div>
    </li>
    <li class="min-h-56 min-w-100 border mt-4">
      <div class="p-2 ">
        <p> Bio: <br/>
          <%= @user.bio %> 
        </p>
      </div>
    </li>
    <% if @user %>
  <% @posts.each_with_index do |post, index| %>

    <div class="border mt-4">
    <p class="pl-2 "><%= @user.name %>  <%= link_to "Posts", user_posts_path(@user)  %> </p>

    <li class="my-3 h-100">
      <div class="flex flex-col border items-start min-h-100 h-72 p-4 w-100">
        <%= link_to "Post ##{index + 1}", user_post_path(@user, post), class: "text-xl mb-4" %>
        <div class="overflow-hidden overflow-ellipsis h-48">
          <%= post.text %>
        </div>
        <div class="flex gap-2 relative self-end top-4 left-42">
          <p> comments:
            <%= link_to post.commentsCounter, user_post_path(@user, post) %>
          </p>,
          <p> likes:
            <%= link_to post.commentsCounter, user_post_path(@user, post) %>
          </p>
        </div> 
      </div>
    </li>
    </div>
  <% end %>
<% else %>
     <p>User not found.</p>
  <% end %>
</ul>

<button class="self-center m-2"><%= link_to "list of all Users", root_path, class: "bg-primary text-white no-underline p-2  rounded-lg" %>
</button>

</div>