<% content_for :head do %>
    <%= stylesheet_link_tag 'user_show' %>
<% end %>


<div class="user-profile">
    <div class='photo-container'>
        <img src="<%= @user.photo %>" alt="user-img" class="user-photo" />
    </div>
    <div class="user-card">
        <div class="user-info">
            <h2 class="user-name"><%= @user.name %></h2>
            <p class="user-post-count">Number of posts: <%= @user.posts_counter %></p>
        </div>
    </div>
</div>

<div class="user-bio">
    <h3>Bio</h3>
    <p class="bio-text"><%= @user.bio %></p>
</div>

<div class="post-container">
    <% @user.first_three_posts.each do |post| %>
        <%= link_to user_post_path(user_id: @user, id: post.id), style: "text-decoration: none;" do %>
            <div class="single-post">
                <div class="post-body">
                    <h3 class="post-title"><%= post.title %></h3>
                    <p class="post-text"><%= post.text %></p>
                </div>
                <div class="like-comment">
                    <p>
                        <span>Comments: <%= post.comments_counter %></span>, 
                        <span>Likes: <%= post.likes_counter || 0 %></span>
                    </p>
                </div>
            </div>
        <% end %>
    <% end %>
</div>

<%= link_to user_posts_path(id: @user), style: "text-decoration: none;" do %>
    <div class="button-container">
        <button>See all posts</button>
    </div>
<% end %>
