<p style="color: green"><%= notice %></p>

<% if @user %>
  <%= render @user %>

  <ul>
    <% @posts.each_with_index do |post, index| %>
      <li class="my-3 h-100">
        <div class="flex flex-col border items-start min-h-100 h-72 p-4 w-100">
          <%= link_to post.title, user_post_path(@user, post), class: "text-xl mb-4" %>

          <div class="overflow-hidden overflow-ellipsis h-48">
            <%= post.text %>
          </div>

          <div class="flex gap-2 relative self-end top-4 left-42">
            <p> comments:
              <%= link_to post.commentsCounter, user_post_path(@user, post) %>
            </p>,
            <p> likes:
              <%= link_to post.likesCounter, user_post_path(@user, post) %>
            </p>
          </div>

          <ul>
            <h4>Comments</h4>
            <% post.recent_comments.to_a.each do |comment| %>
              <li class="pt-4">
                <%= comment.user.name %>:
                <%= link_to "#{comment.text}", user_post_path(@user, post, anchor: "comments"), class: "text-lg mb-2" %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>User not found</p>
<% end %>
